[data-anime] {
    opacity: 0;
    transition: 1.2s;
}

[data-anime="cima"] {
    transform: translate3d(0, -30px, 0);
}

[data-anime="baixo"] {
    transform: translate3d(0, 30px, 0);
}

[data-anime="baixo-dois"] {
    transform: translate3d(0, 100px, 0);
    transition: 1.8s;
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

@keyframes aparecer {
    from{
        opacity: 0;
    }

    to{
        opacity: 0.9;
    }
}

@keyframes tracking-in-expand {
    0% {
      letter-spacing: -10px;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }