/* variáveis */
@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap');

body[data-tema="light"]{
    --bg-primaria:  #F4ECE2;
    --bg-secundaria: #75CFB8;
    --bg-terciaria: #FFF9F2;
    --bg-quarternaria: #BBDFC8;
    --bg-quinaria: #FFC478;
    --primaria: #FFF9F2;
    --secundaria: #000000;
    --sombra-primaria: #FFC478;
    --sombra-secundaria: #EDA5C8;
    --sombra-terciaria: #75CFB8;
    --bg-input: #FBFBFB e #E1EEEA;
    --botao: #BBDFC8;
    --botao-hover: #75CFB8;
    --botao-clique: #FFC478;
}

body[data-tema="dark"]{
    --bg-primaria:  #172228;
    --bg-secundaria: #151A1C;
    --bg-terciaria: #212D33;
    --bg-quarternaria: #111516;
    --bg-quinaria: #75CFB8;
    --primaria: #8AABA0;
    --secundaria: #8AABA0;
    --sombra-primaria: #8AABA0;
    --sombra-secundaria: #151A1C;
    --sombra-terciaria: #151A1C;
    --bg-input: #E1EEEA;
    --botao: #BBDFC8;
    --botao-hover: #75CFB8;
    --botao-clique: #FFC478;
}

/* body */

header{
    background-color: var(--bg-secundaria);
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    font-family: 'The Nautigal', cursive;
    font-weight: 700;
    font-size: 40px;
    color: var(--primaria);
}

footer{
    height: 120px;
    width: 100%;
    background-color: var(--bg-secundaria);
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape{
    height: 30px;
    width: 100%;
    background-color: var(--bg-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
}