/* variáveis */
@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap');

:root {
    --bg-primaria:  #F4ECE2;
    --bg-secundaria: #75CFB8;
    --bg-terciaria: #FFF9F2;
    --bg-quarternaria: #BBDFC8;
    --bg-quinaria: #FFC478;
    --primaria: #FFF9F2;
    --secundaria: #000000;
    --sombra-primaria: #FFC478;
    --sombra-secundaria: #EDA5C8;
    --sombra-terciaria: #75CFB8;
    --bg-input: #FBFBFB e #E1EEEA;
    --botao: #BBDFC8;
    --botao-hover: #75CFB8;
    --botao-clique: #FFC478;

    --fonte-logo: 'The Nautigal', cursive;
    --fonte-titulo: 'Martel', serif;
    --fonte-padrao: 'Lato', sans-serif;
}


