/* variáveis */
@import url("https://fonts.googleapis.com/css2?family=The+Nautigal:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --bg-primaria: #f4ece2;
  --bg-secundaria: #75cfb8;
  --bg-terciaria: #fff9f2;
  --bg-quarternaria: #bbdfc8;
  --bg-quinaria: #ffc478;
  --primaria: #fff9f2;
  --secundaria: #000000;
  --sombra-primaria: #ffc478;
  --sombra-secundaria: #eda5c8;
  --sombra-terciaria: #75cfb8;
  --bg-input: #fbfbfb e #e1eeea;
  --botao: #bbdfc8;
  --botao-hover: #75cfb8;
  --botao-clique: #eda5c8;

  --fonte-logo: "The Nautigal", cursive;
  --fonte-titulo: "Martel", serif;
  --fonte-padrao: "Lato", sans-serif;
}

.dark-mode:root {
  --bg-primaria: #172228;
  --bg-secundaria: #151a1c;
  --bg-terciaria: #212d33;
  --bg-quarternaria: #111516;
  --bg-quinaria: #75cfb8;
  --primaria: #c6ccca;
  --secundaria: #8aaba0;
  --sombra-primaria: #8aaba0;
  --sombra-secundaria: #151a1c;
  --sombra-terciaria: #151a1c;
  --bg-input: #e1eeea;
  --botao: #75cfb8;
  --botao-hover: #8aaba0;
  --botao-clique: #212d33;
}

a {
  text-decoration: none;
}

/*header*/

.cabecalho {
  width: 100%;
  height: 70px;
  background-color: var(--bg-secundaria);
  position: fixed;
  top: 0;
  z-index: 100;
}

.cabecalho,
.icone-switch,
.barra ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-family: var(--fonte-logo);
  font-size: 50px;
}

.logo,
.barra li,
.icone-switch {
  user-select: none;
  cursor: pointer;
  color: var(--primaria);
}

.barra {
  margin-left: 20px;
}

.barra li {
  padding: 0 3px;
  text-transform: uppercase;
  list-style: none;
  font-family: var(--fonte-padrao);
}

.menu {
  transition: 0.1s;
}

.menu:hover {
  color: var(--secundaria);
}

.menu:active {
  color: var(--primaria);
}

#switch {
  all: unset;
  margin-left: 10px;
}

/*main*/

main {
  background-color: var(--bg-primaria);
}

/*footer*/

.rodape {
  height: 260px;
  background-color: var(--bg-secundaria);
  font-family: var(--fonte-padrao);
  color: var(--primaria);
  display: flex;
  flex-direction: column;
  user-select: none;
}

.infos-rodape {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-top: 35px;
}

.container-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.logo-rodape {
  font-family: var(--fonte-logo);
  font-size: 35px;
  font-weight: bold;
}

.logo-imagem {
  width: 120px;
}

.titulo-rodape {
  padding-bottom: 8px;
  text-decoration: underline;
}

.titulo-rodape,
.copyright {
  font-weight: 600;
  font-size: 18px;
}

.faq {
  padding-bottom: 3px;
}

.faq,
.redes {
  cursor: pointer;
}

.faq:hover {
  text-decoration: underline;
}

.redes {
  height: 34px;
  width: 60px;
  padding: 4px;
}

.redes:hover {
  border: 2px solid var(--primaria);
  border-radius: 100%;
  padding: 2px;
}

.linha-div {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.linha {
  height: 2px;
  width: 80%;
  background-color: var(--bg-quarternaria);
}

.copyright {
  text-align: center;
}

@media (max-width: 850px) {
  .infos-rodape,
  .container-logo,
  .perguntas,
  .redes-sociais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rodape {
    height: auto;
    padding-bottom: 30px;
  }

  .container-logo {
    margin: 0;
  }

  .titulo-rodape {
    margin-top: 15px;
  }
}

@media (max-width: 650px) {
  .cabecalho {
    height: auto;
    padding: 10px 0;
    position: initial;
  }

  /* .cabecalho,
    #switch {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    } */

  .barra,
  .cabecalho,
  #switch {
    margin: 0;
  }

  .logo {
    margin-left: -12px;
  }

  .barra ul {
    margin: 10px 0;
  }
}
