@import url("./global.css");
@import url("./animacao.css");

main,
.container-hero-image,
.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-hero-image {
  background-color: var(--bg-secundaria);
  width: 100%;
}

.container-hero-image {
  background-image: url("../imagem/imagens-sobre/salao.png");
  height: 630px;
  margin-bottom: 150px;
  background-position: center;
  background-size: cover;
  opacity: 0;
  animation: aparecer normal 1.5s both;
  justify-content: center;
}

.hero-texto {
  font-size: 90px;
  z-index: 1;
  color: var(--primaria);
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-family: var(--fonte-logo);
  background-color: var(--bg-secundaria);
  opacity: 0;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) 1s both;
}

.container-faixa,
.container-faixa-direita,
.container-1,
.container-2,
.irmaos,
.container-3{
  width: 100%;
  display: flex;
}

.faixa,
.faixa-direita {
  background: var(--bg-quarternaria);
  box-shadow: 0px 8px 0px var(--sombra-primaria);
  font-family: var(--fonte-padrao);
  color: var(--secundaria);
  width: 70%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
}

#faixa1 {
  top: 722px;
  border-radius: 0px 5px 25px 0px;
}

.container-faixa-direita {
  justify-content: flex-end;
}

#faixa2 {
  top: 1250px;
  border-radius: 5px 0px 0px 25px;
}

.principal {
  min-height: auto;
  background-color: var(--bg-terciaria);
  width: 80%;
  position: relative;
  top: -58px;
  border-radius: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container-1,
.container-2 {
  font-family: var(--fonte-padrao);
  font-size: 17px;
  color: var(--secundaria);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.container-1 {
  padding: 60px 0;
  min-height: 90vh;
}

.container-2 {
  margin-top: 80px;
  flex-direction: column;
  min-height: 100vh;
}

.container-1 p,
.container-2 p{
 width: 61%;
}

.irmaos{
  flex-wrap: wrap;
  justify-content: center;
}

.irmao-um,
.irmao-dois {
  border-radius: 60px 60px 25px 25px;
  border: 8px solid var(--sombra-terciaria);
  background-size: contain;
  background-position: center;
  width: 40%;
  height: 550px;
  margin: 80px 35px;
}

.irmao-um:hover,
.irmao-dois:hover {
 border: 8px solid var(--sombra-secundaria);
}

.irmao-um {
  background: url("../imagem/imagens-sobre/pessoa1.jpeg");
}

.irmao-dois {
  background: url("../imagem/imagens-sobre/pessoa2.jpeg");
}

.container-3{
  justify-content: center;
  margin-bottom: 80px;
}

.container-3 img{
 width: 80px;
 margin: 0 20px;
}
