@import url("./global.css");

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-hero-image{
    background-color: var(--bg-secundaria);
    width: 100%;
}

.container-hero-image{
    background-image: url("../imagem/imagens-home/salao.png");
    width: 100%;
    height: 650px;
    margin-bottom: 150px;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}

.container-faixa, .container-faixa-direita, .container-1, .container-2{
    width: 100%;
    display: flex;
}

.faixa, .faixa-direita{
    background: var(--bg-quarternaria);
    box-shadow: 0px 8px 0px var(--sombra-primaria);
    font-family: var(--fonte-padrao);
    color: var(--secundaria);
    width: 70%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
}

#faixa1{
    top: 742px;
}

#faixa2{
    top: 1332px;
}

.faixa{
    border-radius: 0px 5px 25px 0px;
}

.container-faixa-direita{
    justify-content: flex-end;
}

.faixa-direita{
    border-radius: 5px 0px 0px 25px;
    margin: 50px 0;
}

.principal{
    min-height: 100vh;
    background-color: var(--bg-terciaria);
    width: 80%;
    position: relative;
    top: -58px;
    border-radius: 20px;
}

.container-1{
    padding-bottom: 70px;
}

.container-1, .container-2{
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.texto-principal{
    background-color: var(--bg-quinaria);
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    margin-bottom: 200px;
}

.imagem-principal{
    background-image: url("../imagem/imagens-home/tinta.jpeg");
    background-size: cover;
    height: 320px;
    width: 520px;
    margin: 0 15px;
    margin-top: 200px;
}

.container-1 .texto-principal, .container-1 .imagem-principal{
    border-radius: 25px 60px 25px 60px;
}

.container-1 .texto-principal, .container-2 .texto-principal{
    box-shadow: 10px 10px 0px var(--sombra-secundaria);
}

.container-1 .imagem-principal, .container-2 .imagem-principal{
    box-shadow: 10px 10px 0px var(--sombra-terciaria);
}

.container-2 .imagem-principal, .container-2 .texto-principal{
    border-radius: 60px 25px 60px 25px;
}