@import url("./global.css");

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-hero-image{
    background-color: var(--bg-secundaria);
}

.hero-image{
    width: 100%;
    padding-top: 70px;
    padding-bottom: 150px;
    opacity: 0.9;
    height: 900px;
}

.cont{
    width: 100%;
}

.faixa, .faixa-direita{
    
    background: var(--bg-quarternaria);
    box-shadow: 0px 8px 0px var(--sombra-primaria);
    width: 70%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-family: var(--fonte-padrao);
    color: var(--secundaria);
    z-index: 1;
}

#faixa1{
    top: 845.5px;
}

.faixa{
    border-radius: 0px 5px 25px 0px;
}

.container-faixa-direita{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.faixa-direita{
    border-radius: 5px 0px 0px 25px;
    margin: 50px 0;
}

.principal{
    min-height: 100vh;
    background-color: var(--bg-terciaria);
    width: 80%;
    position: relative;
    top: -58px;
    border-radius: 20px;
}

.container-1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.texto-principal{
    background-color: var(--bg-quinaria);
    height: 200px;
    width: 300px;
    border-radius: 25px 60px 25px 60px;
    box-shadow: 10px 10px 0px var(--sombra-secundaria);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    margin-bottom: 200px;
}

.imagem-principal{
    background-image: url("../imagem/imagens-home/tinta.jpeg");
    height: 320px;
    width: 520px;
    border-radius: 25px 60px 25px 60px;
    box-shadow: 10px 10px 0px var(--sombra-terciaria);
    margin: 0 15px;
    margin-top: 200px;
}