@import url("./global.css");

main{
    min-height: 100vh;
}

.container-imagem{
    background-color: var(--bg-secundaria);
    display: flex;
    align-items: center;
}

.imagem-inicial{
    width: 100%;
    padding-top: 70px;
    padding-bottom: 214px;
    opacity: 0.9;
}